fastapi
uvicorn
sqlalchemy
pydantic[email]
pydantic-settings>=2.0.0
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
google-api-python-client
email-validator

# 추가 유틸리티 패키지
pytube
