fastapi
uvicorn
sqlalchemy
pydantic[email]
pydantic-settings>=2.0.0
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
requests
google-api-python-client
email-validator

# 자연어 처리 및 분석
textblob
nltk

# 유튜브 데이터 추출
pytube
